<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProyectoServlets</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PrimeraClase</servlet-name>
    <servlet-class>PrimeraClase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrimeraClase</servlet-name>
    <url-pattern>/PrimeraClase</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MiServlet</servlet-name>
    <servlet-class>miservlet.MiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiServlet</servlet-name>
    <url-pattern>/MiServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletObtenerEmpleado</servlet-name>
    <servlet-class>practica1.servlet.ServletObtenerEmpleado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletObtenerEmpleado</servlet-name>
    <url-pattern>/ServletObtenerEmpleado</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletEmpleado</servlet-name>
    <servlet-class>practicaHibernate.ServletEmpleado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEmpleado</servlet-name>
    <url-pattern>/ServletEmpleado</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletJDBC</servlet-name>
    <servlet-class>practicaJDBC.ServletJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletJDBC</servlet-name>
    <url-pattern>/ServletJDBC</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletIncrementarSalario</servlet-name>
    <servlet-class>practicaHibernate.ServletIncrementarSalario</servlet-class>
    <init-param>
        <param-name>
            incremento
        </param-name>
        <param-value>
            1.2
        </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIncrementarSalario</servlet-name>
    <url-pattern>/ServletIncrementarSalario</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ServletAutentication</servlet-name>
    <servlet-class>practicaHibernate.ServletAutentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAutentication</servlet-name>
    <url-pattern>/ServletAutentication</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletSesion</servlet-name>
    <servlet-class>practicaHibernate.ServletSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSesion</servlet-name>
    <url-pattern>/ServletSesion</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ServletSesionesActivas</servlet-name>
    <servlet-class>practicaHibernate.ServletSesionesActivas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSesionesActivas</servlet-name>
    <url-pattern>/ServletSesionesActivas</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ServletListarDepartamentos</servlet-name>
    <servlet-class>practicaHibernate.ServletListarDepartamentos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListarDepartamentos</servlet-name>
    <url-pattern>/ServletListarDepartamentos</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletNoSesion</servlet-name>
    <servlet-class>practicaHibernate.ServletNoSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNoSesion</servlet-name>
    <url-pattern>/ServletNoSesion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletRedireccionamiento</servlet-name>
    <servlet-class>practicaHibernate.ServletRedireccionamiento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRedireccionamiento</servlet-name>
    <url-pattern>/ServletRedireccionamiento</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletAlberto</servlet-name>
    <servlet-class>practicaHibernate.ServletAlberto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlberto</servlet-name>
    <url-pattern>/ServletAlberto</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ServletCerrarSesion</servlet-name>
    <servlet-class>practicaHibernate.ServletCerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCerrarSesion</servlet-name>
    <url-pattern>/ServletCerrarSesion</url-pattern>
  </servlet-mapping>
  
  
  
  <listener>
	<listener-class>practicaHibernate.ClaseHttpSessionListener</listener-class>
  </listener>
  
   <listener>
	<listener-class>practicaHibernate.ClaseServletContextListener</listener-class>
  </listener>
  
  <listener>
	<listener-class>practicaHibernate.ClaseServletRequestListener</listener-class>
  </listener>
  
   
  <filter>
    <filter-name>MiFiltro</filter-name>
    <filter-class>practicaHibernate.MiFiltro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MiFiltro</filter-name>
    <url-pattern>/ServletEmpleado</url-pattern> 
    <url-pattern>/ServletListarDepartamentos</url-pattern>
    <url-pattern>/ServletAlberto</url-pattern>
    <url-pattern>/ServletRedireccionamiento</url-pattern>
    <url-pattern>/ServletSesionesActivas</url-pattern>
    <url-pattern>/ServletSesion</url-pattern>
    <url-pattern>/ServletCerrarSesion</url-pattern>
  </filter-mapping>  
   
  
   <filter>
    <filter-name>FiltroJDBC</filter-name>
    <filter-class>practicaJDBC.FiltroJDBC</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroJDBC</filter-name>
    <url-pattern>/ServletEmpleado</url-pattern> 
  </filter-mapping>  
  
  <session-config><session-timeout>1</session-timeout></session-config>
  
  

  
  
  
  
  
</web-app>