<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProyectoServlets</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PrimeraClase</servlet-name>
    <servlet-class>PrimeraClase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrimeraClase</servlet-name>
    <url-pattern>/PrimeraClase</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MiServlet</servlet-name>
    <servlet-class>miservlet.MiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiServlet</servlet-name>
    <url-pattern>/MiServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletObtenerEmpleado</servlet-name>
    <servlet-class>practica1.servlet.ServletObtenerEmpleado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletObtenerEmpleado</servlet-name>
    <url-pattern>/ServletObtenerEmpleado</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletEmpleado</servlet-name>
    <servlet-class>practicaHibernate.ServletEmpleado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEmpleado</servlet-name>
    <url-pattern>/ServletEmpleado</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletJDBC</servlet-name>
    <servlet-class>practicaJDBC.ServletJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletJDBC</servlet-name>
    <url-pattern>/ServletJDBC</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletIncrementarSalario</servlet-name>
    <servlet-class>practicaHibernate.ServletIncrementarSalario</servlet-class>
    <init-param>
        <param-name>
            incremento
        </param-name>
        <param-value>
            1.2
        </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIncrementarSalario</servlet-name>
    <url-pattern>/ServletIncrementarSalario</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletAutentication</servlet-name>
    <servlet-class>practicaHibernate.ServletAutentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAutentication</servlet-name>
    <url-pattern>/ServletAutentication</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>fichero.UploadFileExample</servlet-class>
    <init-param><param-name>RUTA_SUBIDA_FICHEROS</param-name><param-value>C:\logs</param-value></init-param>
    <multipart-config>
      <max-file-size>3145728</max-file-size>
      <max-request-size>5242880</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/ficheros/upload</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>upload2</servlet-name>
    <servlet-class>fichero.UploadMultiFile</servlet-class>
    <init-param><param-name>RUTA_SUBIDA_FICHEROS</param-name><param-value>C:\logs</param-value></init-param>
    <multipart-config>
      <max-file-size>3145728</max-file-size>
      <max-request-size>5242880</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload2</servlet-name>
    <url-pattern>/ficheros/upload2</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ServletSesion</servlet-name>
    <servlet-class>practicaHibernate.ServletSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSesion</servlet-name>
    <url-pattern>/ServletSesion</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ServletSesionesActivas</servlet-name>
    <servlet-class>practicaHibernate.ServletSesionesActivas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSesionesActivas</servlet-name>
    <url-pattern>/ServletSesionesActivas</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <servlet-name>ServletObtenerEmpleadoEL</servlet-name>
    <servlet-class>EmpleadoEL.ServletObtenerEmpleadoEL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletObtenerEmpleadoEL</servlet-name>
    <url-pattern>/ServletObtenerEmpleadoEL</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletListaDepartamentosMVC</servlet-name>
    <servlet-class>empleadosPorDepartamentos.ServletListaDepartamentosMVC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListaDepartamentosMVC</servlet-name>
    <url-pattern>/ServletListaDepartamentosMVC</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletListaEmpleadosPorDepartamento</servlet-name>
    <servlet-class>empleadosPorDepartamentos.ServletListaEmpleadosPorDepartamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListaEmpleadosPorDepartamento</servlet-name>
    <url-pattern>/ServletListaEmpleadosPorDepartamento</url-pattern>
  </servlet-mapping>
 
  
   <servlet>
    <servlet-name>ServletListarDepartamentos</servlet-name>
    <servlet-class>practicaHibernate.ServletListarDepartamentos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListarDepartamentos</servlet-name>
    <url-pattern>/ServletListarDepartamentos</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServeltImitacionPrimerJSP</servlet-name>
    <servlet-class>practicaHibernate.ServeltImitacionPrimerJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeltImitacionPrimerJSP</servlet-name>
    <url-pattern>/ServeltImitacionPrimerJSP</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>ServeltCookie</servlet-name>
    <servlet-class>practicaHibernate.ServeltCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeltCookie</servlet-name>
    <url-pattern>/ServeltCookie</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletNoSesion</servlet-name>
    <servlet-class>practicaHibernate.ServletNoSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNoSesion</servlet-name>
    <url-pattern>/ServletNoSesion</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ServletEmpleadoJSP</servlet-name>
    <servlet-class>practicaHibernate.ServletEmpleadoJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEmpleadoJSP</servlet-name>
    <url-pattern>/ServletEmpleadoJSP</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServeltMensajeEnviado</servlet-name>
    <servlet-class>practicaHibernate.ServeltMensajeEnviado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeltMensajeEnviado</servlet-name>
    <url-pattern>/ServeltMensajeEnviado</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletRedireccionamiento</servlet-name>
    <servlet-class>practicaHibernate.ServletRedireccionamiento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRedireccionamiento</servlet-name>
    <url-pattern>/ServletRedireccionamiento</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletMail</servlet-name>
    <servlet-class>practicaHibernate.ServletMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMail</servlet-name>
    <url-pattern>/ServletMail</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletAlberto</servlet-name>
    <servlet-class>practicaHibernate.ServletAlberto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlberto</servlet-name>
    <url-pattern>/ServletAlberto</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletCerrarSesion</servlet-name>
    <servlet-class>practicaHibernate.ServletCerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCerrarSesion</servlet-name>
    <url-pattern>/ServletCerrarSesion</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ServletError</servlet-name>
    <servlet-class>practicaHibernate.ServletError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletError</servlet-name>
    <url-pattern>/ServletError</url-pattern>
  </servlet-mapping>
  
  
  <listener>
	<listener-class>practicaHibernate.ClaseHttpSessionListener</listener-class>
  </listener>
  
   <listener>
	<listener-class>practicaHibernate.ClaseServletContextListener</listener-class>
  </listener>
  
  <listener>
	<listener-class>practicaHibernate.ClaseServletRequestListener</listener-class>
  </listener>
  
  <!--  
  <filter>
    <filter-name>MiFiltro</filter-name>
    <filter-class>practicaHibernate.MiFiltro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MiFiltro</filter-name>
    <url-pattern>/*</url-pattern> 
  </filter-mapping>  -->
   
  
  <filter>
    <filter-name>FiltroJDBC</filter-name>
    <filter-class>practicaJDBC.FiltroJDBC</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroJDBC</filter-name>
    <url-pattern>/ServletEmpleado</url-pattern> 
  </filter-mapping>  
  
  <session-config><session-timeout>1</session-timeout></session-config>
  
   
	<error-page> 
		<exception-type> java.lang.NumberFormatException </exception-type > 
		<location>/ServletError </location> 
	</error-page>
	
	<error-page> 
		<exception-type> javax.servlet.ServletException </exception-type > 
		<location>/ServletError </location> 
	</error-page>
	
	<error-page> 
		<exception-type> javax.servlet.error.exception </exception-type > 
		<location>/ServletError </location> 
	</error-page>
	
	<error-page> 
		<exception-type> javax.servlet.error.exception </exception-type > 
		<location>/ServletError </location> 
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/ServletError</location> 
	</error-page> 
	
  
  
  
  
  
  
</web-app>